<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="path/to/image.jpg">
    <!--Для копирования в соц. сети-->
    <link rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/owl-carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="libs/owl-carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-media.css">
</head>

<body>
    <header class="header header_post">
        <div class="container">
            <div class="hero">
                <a href="/" class="hero__logo">
                    <img src="img/header/logo.png" alt="Nox Universe, Ukraine">
                </a>
                <nav class="hero-nav">
                    <a href="/#s3" class="hero-nav__a" data-id="s3">About</a>
                    <a href="/#s4" class="hero-nav__a" data-id="s4">Last News</a>
                    <a href="/#s5" class="hero-nav__a" data-id="s5">Events</a>
                    <a href="/#s6" class="hero-nav__a" data-id="s6">Our Team</a>
                    <a href="/#s7" class="hero-nav__a" data-id="s7">Join the team</a>
                    <div class="hero-nav__search">
                        <img src="img/header/search.png" alt="Nox Universe, Ukraine" class="hero-nav__icon_search">
                        <input type="text" class="input hero-nav__input">
                        <img src="img/close.png" alt="" class="hero-nav__close">
                    </div>
                    <div class="hero-nav-lang">
                        <div class="hero-nav-lang__current">
                            <img src="img/header/eng.png" alt="Nox Universe, Ukraine" class="hero-nav-lang__icon">
                        </div>
                        <div class="hero-nav-lang__select">
                            <a href='/' class="hero-nav-lang__option">
                                    <img src="img/header/eng.png" alt="Nox Universe, Ukraine" class="hero-nav-lang__icon">
                                    <span class="hero-nav-lang__text">English</span>
                                </a>
                            <a href='/' class="hero-nav-lang__option">
                                    <img src="img/header/urk.png" alt="Nox Universe, Ukraine" class="hero-nav-lang__icon">
                                    <span class="hero-nav-lang__text">Українська</span>
                                </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <img src="img/post-star1.png" alt="" class="main__star1 rellax parallax" data-rellax-speed="-6">
        <img src="img/post-star2.png" alt="" class="main__star2 rellax parallax" data-rellax-speed="-9">
        <h2 class="h2 main__h2">Last news</h2>
        <div class="main__wrap">
            <div class="s4__img" style='background-image: url(img/s4/1.png)'>
                <div class="s4__arrow">
                    <img src="img/chevron.png">
                </div>
            </div>
            <div class="s4__info">
                <span class="main__span">Mar 6, 2018</span>
                <h3 class="h3 s4__h3">Why Mobile AR matters</h3>
                <img src="img/gear.png" alt="" class="main__img">
                <p class="s4__p">
                    Though it might be tempting to view it as “just an interim technology”, handheld Augmented Reality is actually here to stay.<br>Raphaël de Courville in NEEEU
                </p>
                <a href="#" class="s4__a">
                    Read more <img src="img/chevron.png">
                </a>
            </div>
        </div>
        <div class="main__wrap">
            <div class="s4__img" style='background-image: url(img/s4/3.png)'>
                <div class="s4__arrow">
                    <img src="img/chevron.png">
                </div>
            </div>
            <div class="s4__info">
                <span class="main__span">Mar 6, 2018</span>
                <h3 class="h3 s4__h3">Why Mobile AR matters</h3>
                <img src="img/gear.png" alt="" class="main__img">
                <p class="s4__p">
                    Though it might be tempting to view it as “just an interim technology”, handheld Augmented Reality is actually here to stay.<br>Raphaël de Courville in NEEEU
                </p>
                <a href="#" class="s4__a">
                    Read more <img src="img/chevron.png">
                </a>
            </div>
        </div>
        <div class="main__wrap">
            <div class="s4__img" style='background-image: url(img/s4/2.png)'>
                <div class="s4__arrow">
                    <img src="img/chevron.png">
                </div>
            </div>
            <div class="s4__info">
                <span class="main__span">Mar 6, 2018</span>
                <h3 class="h3 s4__h3">Why Mobile AR matters</h3>
                <img src="img/gear.png" alt="" class="main__img">
                <p class="s4__p">
                    Though it might be tempting to view it as “just an interim technology”, handheld Augmented Reality is actually here to stay.<br>Raphaël de Courville in NEEEU
                </p>
                <a href="#" class="s4__a">
                    Read more <img src="img/chevron.png">
                </a>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__container">
            <a href="" class="footer__logo">
                    <img src="img/footer/logo.png" alt="">
                </a>
            <nav class="hero-nav hero-nav_footer">
                <a href="/#s3" class="hero-nav__a" data-id='s3'>About</a>
                <a href="/#s4" class="hero-nav__a" data-id='s4'>Last News</a>
                <a href="/#s5" class="hero-nav__a" data-id='s5'>Events</a>
                <a href="/#s6" class="hero-nav__a" data-id='s6'>Our Team</a>
                <a href="/#s7" class="hero-nav__a" data-id='s7'>Join the team</a>
            </nav>
            <a href="mailto:example-mail@nox.com" class="footer__email">example-mail@nox.com</a>
            <a href="/" class="footer__social footer__social_first">
                <img src="img/footer/facebook.png" alt="nox universe facebook">
            </a>
            <a href="/" class="footer__social">
                <img src="img/footer/telegram.png" alt="nox universe telegram">
            </a>
        </div>
    </footer>
    <script src="libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="libs/rellax-master/rellax.min.js"></script>
    <script src="libs/owl-carousel/dist/owl.carousel.min.js"></script>
    <script src="js/common.js"></script>
</body>

</html>